.editor-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(8px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .scanlines {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.5) 100%,
    );
    background-size: 100% 4px;
  }

  .frontground {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .world-setting {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      width: calc(1280px - 2 * 8px);
      height: calc(100vh - 2 * 8px);
      padding: 0 0 0 0;

      .pwc-form-item {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px 32px;
        width: 100%;

        .ant-form-item-label > label {
          color: white;
          font-weight: bold;
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: start;

        width: 100%;
        height: 64px;

        .difficulty-selector {
          padding: 8px 32px;
        }
      }

      .content {
        width: calc(1280px - 2 * 12px);
        flex: 1;
        margin: 12px 0px 12px 0px;
        padding: 0px 12px 0px 12px;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background-color: unset;
        }

        &::-webkit-scrollbar-thumb {
          background-color: white;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: gray;
        margin: 16px 0;
      }

      .footer {
        display: flex;
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-top: solid 1px white;
      }
    }

    overflow-x: hidden;
    overflow-y: auto;
  }
}
